.Header-container {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffcc99 0%, #ff99cc 100%);
}
.nav-list-container > ul {
  display: flex;
  list-style-type: none;
}
.nav-list-container > ul li {
  margin: 20px;
  color: black;
  font-size: 24px;
}
.nav-links {
  text-decoration: none;
  color: black;
}
.nav-links:hover {
  text-decoration: underline;
  color: white;
}
.logo-img {
  height: 128px;
}
.res-card {
  width: 200px;
  height: 470px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.res-card:hover {
  border: 1px solid rgb(107, 107, 136);
}
.res-logo {
  width: 190px;
  margin: 0px 5px;
  height: 50%;
}
.res-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px; */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: center;
  margin-left: 30px;
  margin-top: 10px;
}
.top-res-filter-btn {
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: #ff99cc;
  border-radius: 5px;
  color: white;
}
.veg-res-btn {
  background-color: white;
  color: green;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: #9eff99;
  border-radius: 5px;
}
.remove-filter-btn {
  background-color: white;
  color: rgb(180, 128, 15);
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}
.search-input {
  font-size: 18px;
  height: 30px;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}
.search-container {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  /* border: 1px solid black; */
}
.shimmer-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}
.login-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  width: 65px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
  margin-left: 10px;
}
.shimmer-box {
  height: 300px;
  width: 200px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.shimmer-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.res-menu-link {
  text-decoration: none;
  color: black;
}
