.Header-container {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffcc99 0%, #ff99cc 100%);
}
.nav-list-container > ul {
  display: flex;
  list-style-type: none;
}
.nav-list-container > ul li {
  margin: 20px;
  font-size: 24px;
}
.nav-list-container > ul li:hover {
  text-decoration: underline;
  color: white;
}
.logo-img {
  height: 128px;
}
.res-card {
  width: 200px;
  background-color: #f0f0f0;
}
.res-card:hover {
  border: 1px solid rgb(107, 107, 136);
}
.res-logo {
  width: 190px;
  margin: 0px 5px;
  height: 50%;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}
.top-res-filter-btn {
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: #ff99cc;
  border-radius: 5px;
  color: white;
}
.veg-res-btn {
  background-color: white;
  color: green;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: #9eff99;
  border-radius: 5px;
}
.remove-filter-btn {
  background-color: white;
  color: rgb(180, 128, 15);
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}
.search-input {
  height: 30px;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}
.search-container {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  /* border: 1px solid black; */
}
